<div>
    <h2>Look Up Codes</h2>
    <jhi-alert></jhi-alert>
    <!--<div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="look-up-code.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Look Up Code
                    </span>
                </button>
            </div>
        </div>
    </div>-->
    <br/>
    <div class="table-responsive">



        <form name="editForm" role="form">
            <div class="form-group">
                <label>Select An application:</label>
                <select class="form-control" ng-model="vm.user_selection" ng-options="user as user.login for user in vm.users track by user.id">
                    <option value=""></option>
                </select>
                <button type="submit" class="btn btn-primary" ng-click="vm.getListOfPrivateCodes(vm.user_selection)")>
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
                </button>
            </div>
        </form>



        <div> UserObject: {{vm.user_selection}} </div>

        <div>info sent to function: {{vm.dummyVar}} </div>

        <div>Here is my list: {{vm.privateCodesList}} </div>




        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="object in vm.privateCodesList track by object.id">
                    <td>
                        <a ui-sref="">{{vm.privateCodesList}}</a>
                    </td>
                </tr>
            </tbody>
        </table>



    </div>
</div>
