<div>
    <h2>Look Up Codes</h2>
    <br/>
    <div class="table-responsive">

        <!--Form to select the application you want to see the codes for-->
        <form name="editForm" role="form">
            <div class="form-group">
                <label>Select An application:</label>
                <select class="form-control" ng-model="vm.user_selection" ng-options="user as user.login for user in vm.users track by user.id">
                    <option value="Select a dude"></option>
                </select>
                <button type="submit" class="btn btn-primary" ng-click="vm.getListOfPrivateCodes(vm.user_selection)")>
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
                </button>
            </div>
        </form>

        <!-- Here is the table for the list of private codes for the selected application -->
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="object in vm.privateCodesList track by object.countryName">
                    <td>
                        <ul>{{object.countryName}}</ul>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
