<div>
    <h2>Look Up Codes</h2>
    <jhi-alert></jhi-alert>
    <!--<div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="look-up-code.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Look Up Code
                    </span>
                </button>
            </div>
        </div>
    </div>-->
    <br/>
    <div class="table-responsive">

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user_login" ng-model="vm.lookUpCode.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>

            <button type="submit" method="GET" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
            </button>
        </div>

        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="lookUpCode in vm.lookUpCodes track by lookUpCode.id">
                    <td><a ui-sref="look-up-code-detail({id:lookUpCode.id})">{{lookUpCode.id}}</a></td>



                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="look-up-code-detail({id:lookUpCode.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="look-up-code.edit({id:lookUpCode.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="look-up-code.delete({id:lookUpCode.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
